.container_meniu{
    text-align: center;
    width: 100%;
    background:linear-gradient(
         rgb(10, 10, 175),
         rgba(7, 7, 248, 0.776));
    height: 140px;
    border:7px solid rgba(0, 0, 139, 0.484);
    box-shadow: 16px 45px 48px -13px rgba(0,0,0,0.75);
}

.container_meniu .meniu{
    display:flex;
    position: relative;
}

li{
        font-size: 42px;
        list-style-type: none;
        font-family:cursive;
        padding:10px;
}

li a:hover{
    color:rgb(79, 77, 208);
}

.container_meniu .meniu li a{
    color:aliceblue;
    text-decoration: none;
    transition: color 1 ease;
}

.container_meniu .meniu li{
    flex: 1;
}

.container_meniu .meniu li:first-child a{
    color:aliceblue;
}

.container_meniu .meniu .linie{
    position:absolute;
    height:5px;
    width: 20%;
    background: aliceblue;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.container_meniu .meniu li:nth-child(2):hover ~ .linie{
    left: 20%;
}

.container_meniu .meniu li:nth-child(3):hover ~ .linie{
    left: 40%;
}
.container_meniu .meniu li:nth-child(4):hover ~ .linie{
    left: 60%;
}

.container_meniu .meniu li:nth-child(5):hover ~ .linie{
    left: 80%;
}

.jumbotron{
    height: 700px;
    background: linear-gradient(
        rgb(9, 9, 132,0),
        rgba(7, 7, 248, 0.776)
        ),
        url(https://source.unsplash.com/1600x1050/?japonia);
}

.jumbotron h1{
    font-weight:100;
    text-align:center;
    color:aliceblue;
    font-family: cursive;
}

.jumbotron p{
    text-align:center;
    color:aliceblue;
    font-family:cursive;
}

.jumbotron .Japonia{
    width:280px;
    height:200px;
}

.sectiune_carduri{
   max-width: 1200px;
   margin:0 auto;
}

.sectiune_carduri h1{
    font-size: 24px;
    font-weight: 400px;
    text-align:center;
    color:white;
}

.lista_carduri{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    margin:0;
    padding:0;
}

.element_card{
    display:flex;
    padding: 16px;
}

@media (min-width: 650px){
    .element_card{
        width:50%;
    }
}

@media (min-width: 900px){
    .element_card{
        width:33%;
    }
}

.sectiune_carduri .card{
    display:flex;
    box-shadow: 0 20px 40px -15px rgba(0, 0, 139, 0.484);
}

.sectiune_carduri img{
    max-width: 100%;
    height:auto;
}

.sectiune_carduri .btn{
    padding: 14px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    background: transparent;
    border: 1px solid grey;
}

.titlu_card{
    color:white;
    font-size:18px;
    font-weight:700;
    letter-spacing: 1px;
    text-align:center;
}

.text_card{
    color:darkorchid;
    font-size: 14px;
    margin-bottom: 18px;
    font-weight: 400px;
}

.sectiune_carduri .btn:hover{
    background-color: grey;
    color:white;
}

.sectiune_carduri .btn{
    padding:14px;
    font-size:14px;
    text-transform:uppercase;
    font-weight: 400;
    width:100%;
    background:transparent;
    border: 1px solid grey;
    color:white;
}