.container_meniu{
    text-align: center;
    width: 100%;
    background-color:aquamarine;
    height: 80px;
    border:5px solid rgb(106, 184, 158);
    box-shadow: 16px 45px 48px -13px rgba(0,0,0,0.75);
}

.container_meniu .meniu{
    display: flex;
    position: relative;
}

li{
    font-size:45px;
    font-family:cursive;
    list-style-type:none;
    padding:10px;
}

li a:hover{
    color:rgb(82, 149, 127);
}
